@import 'partials/fontawesome-custom';
@import 'libs/burger_menu/hamburgers';
@import 'partials/fonts';
@import 'partials/default';
@import 'partials/colors';

%inputField {
  border-color: transparent;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  margin: 1rem 0;
  width: 100%;

  &:focus {
    border: 1px solid rgba(82,168,236,0.8);
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px $transparent, 0 0 8px $blueJeans;
    -moz-box-shadow: inset 0 1px 1px $transparent, 0 0 8px $blueJeans;
    box-shadow: inset 0 1px 1px $transparent, 0 0 8px $blueJeans;
  }

  &:focus:invalid {
    border-color: $trackAndField;
    -webkit-box-shadow: 0 0 6px $paleVioletRed;
    -moz-box-shadow: 0 0 6px $paleVioletRed;
    box-shadow: 0 0 6px $paleVioletRed;
  }
}

html, body{
  padding: 0;
  margin: 0;
}

.wrapper {
  color: $codGray;
  font: 400 17px $font;
}

.homeContent {
  background: url(../../assets/img/background.jpg) no-repeat center center transparent;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 110vh;
  position: relative;
}

.homeText {
  color: $alabaster;
  padding: 50vh 10vw 0;
}

.homeTitle {
  font-size: 60px;
  font-weight: 300;
  margin: 0;
}

.homeDesc {
  font-size: $title;
  font-weight: 100;
  margin: 0;
}


.langDropdown {
  border: 1px solid $alabaster;
  border-radius: 3px;
  float: right;
  margin: 10px;
  text-align: center;

  label {
    margin: 0;
  }
}

.langDropdownList {
  cursor: pointer;
  height: 40px;
  list-style-type: none;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  margin: 0;
  padding: 0;

  a {
    color: $alabaster;
    text-decoration: none;
    list-style-type: none;
  }

  li {
    color: $alabaster;
    font-weight: 100;
    line-height: 40px;
    padding: 0 15px;
  }
}

.langDropdownBtn {
  float: left;
  opacity: 0;
  margin: -10px;

  &:checked ~ .langDropdownList {
    height: 122px;
  }

  &:not(:checked) ~ .langDropdownList {
    height: 40px;
  }
}

.navbar {
  background-color: $flagstone;
  border-bottom: 2px solid $alabaster;
  display: inline-block;
  font-size: 16px;
  width: 100%;

  .active, a:hover {
    background: $alabaster;
    border-radius: 2px;
    color: #8A8A8A;
  }

  ul {
    margin: 16px 0;
    list-style-type: none;
  }

  li {
    display: initial;
    margin: 0 5px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:first-child {
      margin: 0;
    }
  }

  a {
    color: $alabaster;
    padding: 1px 4px 2px 6px;
    text-decoration: none;
  }
}

.sticky {
  animation: slideDown .5s;
  position: fixed;
  top: 0;
  z-index: 1;
}

// Buger Menu Navbar
.hamburger {
  display: none;
}

.title {
  color: $codGray;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 1.66em;
  text-align: center;
  text-transform: uppercase;
}

.content {
  background-color: $transparent;
  box-shadow: inset 0 1px 0 0 $transparent, inset 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 3rem 3rem 5rem;
}

#experience > .content {
  padding-bottom: 10rem;
}

.aboutMePicture {
  text-align: center;
  padding: 2rem 2rem 5rem;
}

.profilePicture {
  border: 2px solid $codGray;
  border-left-style: dashed;
  border-right-style: dashed;
  border-radius: 100%;
  height: 120px;
  width: 120px;
}

.aboutMeInformation {
  text-align: justify;
}

.employer {
  padding-left: 0;

  .employerContent {
    margin: auto;
    width: 300px;

    p {
      margin: 0 0 3px 8rem;
      &:nth-child(2) {
        padding-top: 12px;
      }
    }

    a {
      color: initial;
    }
  }
}

.JSPicture {
  border: 2px solid $codGray;
  border-left-style: dashed;
  border-right-style: dashed;
  border-radius: 100%;
  position: absolute;
  height: 100px;
  width: 100px;
}

.skills {
  font-size: 13px;
  padding: 10rem 0 0;
  overflow: hidden;

  ul {
    list-style-type: none;
  }
}

.experienceTitle {
  font-size: $title;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
}

.contactInput {
  @extend %inputField;
}

.valMessage {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: $trackAndField;
  font-family: inherit;
  margin-left: 15px;
  text-align: left;
  text-decoration: underline;
}

.contactMessage {
  @extend %inputField;
  height: 250px;
}

.contactSubmit {
  @extend %inputField;
  background-color: transparent;
  border: 1px solid $codGray;
  color: $codGray;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover:enabled {
    background-color: $flagstone;
    border-color: transparent;
    color: $alabaster;
    cursor: pointer;
  }
}

footer {
  text-align: center;
  padding-top: 1rem;
}

.copyright,  .socialMedia, .imprint {
  padding-bottom: 1rem;

  a {
    color: $codGray;
    text-decoration: none;
    padding: 0 10px;
  }
}

@keyframes slideDown {
 0% { transform: translateY(-150px) }
}

@media screen and (max-width: 767px) {
  .hamburger {
    display: inline-block;

    &.is-active {
      float: right;

      & ~ .mobileNavList {
        display: inline-block;
      }
    }
  }

  .mobileNavList {
    display: none;
    position: relative;
    transition: all .3s ease;

    ul {
      padding: 0 10px;
      margin-top: 0;
    }

    li {
      display: list-item;
      margin: 0 60px 5px 0;
      padding-bottom: 15px;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 766px) {
  .aboutMePicture {
    float: left;
    vertical-align: top;
  }

  .profilePicture {
    height: 150px;
    width: 150px;
  }

  .aboutMeInformation {
    padding: 2rem;
  }

  .contactForm {
    text-align: center;
  }

  .contactMessage, .contactInput {
    width: 75%;
  }

  .valMessage {
    width: 75%;
  }

  .contactSubmit {
    width: 50%;
  }

  .copyright, .socialMedia, .imprint {
    display: inline-block;
    width: 25%;

    a {
      padding: 0 5px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .aboutMePicture {
    padding-left: 5rem;
  }

  .profilePicture {
    height: 164px;
    width: 164px;
  }

  .aboutMeInformation {
    padding: 4rem;
  }

  .employer {
    height: 0;

    .employerContent {
      padding-left: 5rem;
      margin: initial;
      width: initial;
    }

    .experienceTitle {
      text-align: initial;
      padding-left: 10rem;
    }
  }

  .skills {
    padding-top: 0;
    padding-left: 60vw;
  }

  .contactMessage, .contactInput {
    width: 50%;
  }

  .valMessage {
    width: 50%;
  }

  .contactSubmit {
    width: 35%;
  }
}