/* ------------------------------------------------------------ *\

   color name refenerce: https://codepen.io/meodai/full/mEvZRx

\* ------------------------------------------------------------ */

$codGray: #191919;
$alabaster: #FBFBFB;
$flagstone: #ACACAC;
$trackAndField: #E21A11;
$wildDove: #8A8A8A;
$transparent: rgba(0,0,0,.05);
$blueJeans: rgba(82,168,236,.6); // valid Textfield shadow
$paleVioletRed: rgba(219,112,147,.8); // invalid Textfield shadow