%inputField {
  border-color: transparent;
  border-radius: 0.3em;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0.6em;
  margin: 1.154em 0;
  width: 75%;

  &:focus {
    border: 1px solid rgba(82, 168, 236, 0.8);
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px $transparent, 0 0 8px $blueJeans;
    -moz-box-shadow: inset 0 1px 1px $transparent, 0 0 8px $blueJeans;
    box-shadow: inset 0 1px 1px $transparent, 0 0 8px $blueJeans;
  }

  &:focus:invalid {
    border-color: $trackAndField;
    -webkit-box-shadow: 0 0 6px $paleVioletRed;
    -moz-box-shadow: 0 0 6px $paleVioletRed;
    box-shadow: 0 0 6px $paleVioletRed;
  }
}
