@import 'libs/fontawesome-custom';

$font: 'Roboto Slab', serif;
$fontSizeDefault: 16px;
$codGray: #191919;
$alabaster: #fbfbfb;
$capeCod: #3E3F40;

body, html {
  margin: 0;
}

.container {
  color: $codGray;
  font-family: $font;
  font-size: $fontSizeDefault;
  font-weight: 300;
}

.header {
  background: url(../../img/background.jpg) no-repeat center center fixed; 
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  position: relative;
}

.headText {
  color: $alabaster;
  margin-left: 10vh;
  position: absolute;
  top: 50%;
}

.headTitle {
  font-size: 60px;
}

.headDesc {
  font-size: 30px;
  font-weight: 100;
}

nav {
  background-color: $capeCod;
  border-bottom: 2px solid $alabaster;
  height: 55px;
  width: 100%;
  position: absolute;
  
  a {
    color: $alabaster;
    list-style-type: none;
  }

  li {
    margin: 0 10px;
    float: left;
  }
}

.sticky {
  animation: slideDown .5s;
  position: fixed;
  top: 0;
  z-index: 1;
}

// TODO: use media query to adjust margin to viewport
.langDropown {
  border: 1px solid $alabaster;
  border-radius: 3px;
  float: right;
  height: 40px;
  margin: 10px;
  overflow: hidden;
  padding: 0;
  transition: all .3s ease;
  text-align: center;

  &:hover {
    height: 122px;
  }

  a {
    text-decoration: none;
    list-style-type: none;
  }

  li {
    color: $alabaster;
    font-weight: 100;
    line-height: 40px;
    padding: 0px 15px;
  }
}

.aboutMe, .vita, .skills, .contact {
  height: 100vh;
  padding: 100px;
}

@keyframes slideDown {
 0% { transform: translateY(-50px) }
}