@import 'libs/fontawesome-custom';
@import 'libs/bootstrap-custom';
@import 'libs/burger_menu/hamburgers';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,700');

$font: 'Roboto Slab', serif;
$defaultFontSize: 16px;
$codGray: #191919;
$alabaster: #FBFBFB;
$capeCod: #8A8A8A;
$backgroundColor: rgba(0, 0, 0, 0.05);

html, body{
  padding: 0;
  margin: 0;
}

.wrapper {
  color: $codGray;
  font-family: $font;
  font-size: $defaultFontSize;
  font-weight: 300;
}

.home {
  background: url(../../img/background.jpg) no-repeat center center scroll;
  background-color: $backgroundColor;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  position: relative;
}

.homeText {
  color: $alabaster;
  margin-left: 10vh;
  position: absolute;
  top: 50%;
}

.homeTitle {
  font-size: 60px;
  font-weight: 300;
  margin: 0;
}

.homeDesc {
  font-size: 30px;
  font-weight: 100;
  margin: 0;
}

.navbar {
  background-color: rgba(60, 60, 60, 0.4);
  border-bottom: 2px solid $alabaster;
  display: inline-block;
  padding: 0; // prevent Bootstrap
  position: absolute;
  width: 100%;

  .active, a:hover, a:focus {
    background: $alabaster;
    border-radius: 2px;
    color: $capeCod;
  }

  ul {
    margin: 16 0;
    list-style-type: none;
  }

  li {
    display: initial;
    margin: 0 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  a {
    color: $alabaster;
    padding: 1px 3px 2px 5px;
    text-decoration: none;
  }
}

.sticky {
  animation: slideDown .5s;
  position: fixed;
  top: 0;
  z-index: 1;
}

.langDropdown {
  border: 1px solid $alabaster;
  border-radius: 3px;
  float: right;
  margin: 10px;
  text-align: center;

  label {
    margin: 0;
  }
}

.langDropdownList {
  cursor: pointer;
  height: 40px;
  overflow: hidden;
  transition: all .3s ease;
  margin: 0;
  padding: 0;

  // &:hover {
  //   height: 122px;
  // }

  a {
    text-decoration: none;
    list-style-type: none;
  }

  li {
    color: $alabaster;
    font-weight: 100;
    line-height: 40px;
    padding: 0 15px;
  }
}

.langDropdownBtn {
  float: left;
  opacity: 0;
  margin-left: -14px;

  &:checked ~ .langDropdownList {
    height: 122px;
  }

  &:not(:checked) ~ .langDropdownList {
    height: 40px;
  }
}

.aboutMe {
  background-color: $backgroundColor;
  box-shadow: inset 0 1px 0 0 $backgroundColor, inset 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  height: 100vh;
  padding-top: 80px;
}

.vita, .skills, .contact {
  background-color: $backgroundColor;
  box-shadow: inset 0 1px 0 0 $backgroundColor, inset 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  height: 100vh;
  padding-top: 60px;
}

.title {
  color: $codGray;
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.hamburger {
  display: none;
}

.hamburger.is-active {
  float: right;
}

.hidden {
  display: none !important;
}

@keyframes slideDown {
 0% { transform: translateY(-150px) }
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }

  .mobileNavList {
    display: inline-block;
    position: relative;

    ul {
      padding: 0 10px;
      margin-top: 0;
    }

    li {
      display: list-item;
      margin: 5px 60px 5px 0;
      padding-bottom: 15px;
    }

    &:first-child {
      padding-top: 15px;
      margin-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}