@import 'partials/fonts';
@import 'partials/colors';
@import 'partials/typography';
@import 'modules/media-queries';
@import 'modules/cookie-banner';

body {
  background-color: $transparent;
  font-family: $font;
  margin: 0;
  padding: 0;
}

.content {
  font-size: 0.85em;
  padding: 0.5em 1em;
  word-break: break-word;
  font-weight: $light;

  a {
    color: #0645AD;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 2.35em;

    li {
      margin-block-start: 1em;
      margin-block-end: 1em;
    }
  }

  @include desktop {
    padding-left: 2em;
  }
}

.optOut {
  font-weight: $bold;
  margin: 0.8em 0;
}

.cookieBanner {
  @include cookieBanner;
}

.closeContainer {
  @include closeContainer;
}
