@import 'partials/fonts';
@import 'partials/colors';
@import 'partials/typography';
@import 'modules/media-queries';
@import 'modules/cookie-banner';

body {
  background-color: $transparent;
  font-family: $font;
  margin: 0;
  padding: 0;
}

.content {
  padding: 1em 2em;
  word-break: break-word;

  a {
    color: #0645AD;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @include desktop {
    padding-right: 4em;
    padding-left: 4em;
  }
}

.cookieBanner {
  @include cookieBanner;
}

.closeContainer {
  @include closeContainer;
}
