@import 'partials/fontawesome-custom';
@import 'libs/burger_menu/hamburgers';
@import 'partials/fonts';
@import 'partials/default';
@import 'partials/colors';

%inputField {
  border-color: transparent;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  margin: 1rem 0;
  width: 100%;

  &:focus {
    border: 1px solid rgba(82,168,236,0.8);
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px $transparent, 0 0 8px $blueJeans;
    -moz-box-shadow: inset 0 1px 1px $transparent, 0 0 8px $blueJeans;
    box-shadow: inset 0 1px 1px $transparent, 0 0 8px $blueJeans;
  }

  &:focus:invalid {
    border-color: $trackAndField;
    -webkit-box-shadow: 0 0 6px $paleVioletRed;
    -moz-box-shadow: 0 0 6px $paleVioletRed;
    box-shadow: 0 0 6px $paleVioletRed;
  }
}

html, body{
  padding: 0;
  margin: 0;
}

.wrapper {
  color: $codGray;
  font: 400 17px $font;
}

.homeContent {
  background: url(../../img/background.jpg) no-repeat center center transparent;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 110vh;
  position: relative;
}

.homeText {
  color: $alabaster;
  padding: 50vh 10vw 0;
}

.homeTitle {
  font-size: 60px;
  font-weight: 300;
  margin: 0;
}

.homeDesc {
  font-size: $title;
  font-weight: 100;
  margin: 0;
}


.langDropdown {
  border: 1px solid $alabaster;
  border-radius: 3px;
  float: right;
  margin: 10px;
  text-align: center;

  label {
    margin: 0;
  }
}

.langDropdownList {
  cursor: pointer;
  height: 40px;
  list-style-type: none;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  margin: 0;
  padding: 0;

  a {
    color: $alabaster;
    text-decoration: none;
    list-style-type: none;
  }

  li {
    color: $alabaster;
    font-weight: 100;
    line-height: 40px;
    padding: 0 15px;
  }
}

.langDropdownBtn {
  float: left;
  opacity: 0;
  margin: -10px;

  &:checked ~ .langDropdownList {
    height: 122px;
  }

  &:not(:checked) ~ .langDropdownList {
    height: 40px;
  }
}

.navbar {
  background-color: $flagstone;
  border-bottom: 2px solid $alabaster;
  display: inline-block;
  font-size: 16px;
  width: 100%;

  .active, a:hover {
    background: $alabaster;
    border-radius: 2px;
    color: #8A8A8A;
  }

  ul {
    list-style-type: none;
  }

  li {
    letter-spacing: 2px;
    margin: 0 60px 5px 0;
    padding-bottom: 15px;
    text-transform: uppercase;

    &:last-child {
      padding-bottom: 0;
    }
  }

  a {
    color: $alabaster;
    padding: 1px 4px 2px 6px;
    text-decoration: none;
  }
}

.sticky {
  animation: slideDown .5s;
  position: fixed;
  top: 0;
  z-index: 1;
}

// Buger Menu Navbar
.navList {
  display: none;
}

.hamburger {
  &.is-active {
    float: right;

    & ~ .navList {
      display: inline-block;
    }
  }
}

.title {
  color: $codGray;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 1.66em;
  text-align: center;
  text-transform: uppercase;
}

.content {
  background-color: $transparent;
  box-shadow: inset 0 1px 0 0 $transparent, inset 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  min-height: 50vh;
  overflow: hidden;
  padding: 3rem 3rem 5rem;
}

.aboutMeContent {
  text-align: center;
  padding: 0 1.66rem 5rem;
}

.aboutMePicture {
  border: 2px solid $codGray;
  border-left-style: dashed;
  border-right-style: dashed;
  border-radius: 100%;
  margin: 2.25rem;
  height: 120px;
  width: 120px;
}

.aboutMeInformation {
  text-align: justify;
  display: table;
  margin: 0;
  padding: 4rem 1.66rem;
  word-break: break-all;
}

.employer {
  padding-left: 0;

  .employerContent {
    margin: auto;
    width: 300px;

    p {
      margin: 0 0 3px 120px;
      &:nth-child(2) {
        padding-top: 12px;
      }
    }

    a {
      color: initial;
    }
  }
}

.JSPicture {
  background: url('../../img/js_logo_oS.svg') no-repeat 50% 55% transparent;
  border: 2px solid $codGray;
  border-left-style: dashed;
  border-right-style: dashed;
  border-radius: 100%;
  position: absolute;
  height: 100px;
  width: 100px;
}

.skills {
  font-size: 13px;
  overflow: hidden;
  padding: 10rem 0 0;
  text-align: center;

  ul {
    list-style-type: none;
  }
}

.experienceTitle {
  font-size: $title;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;

  & ~ .experienceTitle {
    margin-top: 10rem;
  }
}

.experiencePicture {
  display: inline-block;
  margin: 10px 17px 50px;
  height: 90px;
  width: 90px;
}

.experienceLabel {
  margin-top: 100px;
  text-align: center;
}

.HTMLPicture {
  background: url('../../img/skills/HTML5.svg') no-repeat center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.CSSPicture {
  background: url('../../img/skills/CSS.svg') no-repeat center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.JavaScriptPicture {
  background: url('../../img/skills/JavaScript.svg') no-repeat center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.nodejsPicture {
  background: url('../../img/skills/Node.js.svg') no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.gitPicture {
  background: url('../../img/skills/Git.svg') no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.LESSPicture {
  background: url('../../img/skills/LESS.svg') no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.SASSPicture {
  background: url('../../img/skills/SASS.svg') no-repeat center;
  -webkit-background-size: 85%;
  background-size: 85%;
}

.scrumPicture {
  background: url('../../img/skills/Scrum.svg') no-repeat center;
  -webkit-background-size: 155%;
  background-size: 155%;
  width: 107px;
}

.agilePicture {
  background: url('../../img/skills/Agile.svg') no-repeat center;
  -webkit-background-size: 250%;
  background-size: 250%;
}

.MySQLPicture {
  background: url('../../img/skills/MySQL.svg') no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.jQueryPicutre {
  background: url('../../img/skills/jQuery.svg') no-repeat 50% 70%;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.linuxPicture {
  background: url('../../img/skills/Tux.svg') no-repeat center;
  -webkit-background-size: 80% 80%;
  background-size: 80% 80%;
}

.contactInput {
  @extend %inputField;
}

.valMessage {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: $trackAndField;
  font-family: inherit;
  margin-left: 15px;
  text-align: left;
  text-decoration: underline;
}

.contactMessage {
  @extend %inputField;
  height: 370px;
}

.contactSubmit {
  @extend %inputField;
  background-color: transparent;
  border: 1px solid $codGray;
  color: $codGray;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover:enabled {
    background-color: $flagstone;
    border-color: transparent;
    color: $alabaster;
    cursor: pointer;
  }
}

.formResponse {
  border-radius: 5px;
  color: $codGray;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

footer {
  text-align: center;
  padding-top: 1rem;
}

.copyright,  .socialMedia, .imprint {
  padding-bottom: 1rem;

  a {
    color: $codGray;
    text-decoration: none;
    padding: 0 10px;
  }
}

@keyframes slideDown {
 0% { transform: translateY(-150px) }
}

@media screen and (min-width: 766px) {
  .hamburger {
    display: none;
  }

  .navList {
    display: inline-block;
    transition: all .3s ease;

    ul {
      padding: 0 10px;
      margin-top: 0;
    }

    li {
      display: initial;
      margin: 0 5px;

      &:first-child {
        margin: 0;
      }
    }
  }

  .aboutMeContent {
    padding-top: 3rem;
  }

  .aboutMePicture {
    height: 150px;
    width: 150px;
  }

  .aboutMeInformation {
    word-break: initial;
  }

  .contactForm {
    text-align: center;
  }

  .contactMessage, .contactInput {
    width: 75%;
  }

  .valMessage {
    width: 75%;
  }

  .contactSubmit {
    width: 50%;
  }

  .formResponse {
    width: 49%;
  }

  .copyright, .socialMedia, .imprint {
    display: inline-block;
    width: 25%;

    a {
      padding: 0 5px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .aboutMeContent {
    display: inline-flex;
    align-items: center;
  }

  .aboutMePicture {
    float: left;
    margin-left: 15rem;
    height: 164px;
    width: 164px;
  }

  .aboutMeInformation {
    padding: 1.66rem; // evtl. 2.88rem 1.66rem
    margin-right: 20rem;
    margin-left: 2.25rem;
  }

  .employer {
    height: 0;

    .employerContent {
      padding-left: 5rem;
      margin: initial;
      width: initial;
    }

    .experienceTitle {
      text-align: initial;
      padding-left: 10rem;
    }
  }

  .skills {
    padding-top: 0;
    padding-left: 60vw;
    text-align: initial;
  }

  .contactMessage, .contactInput {
    width: 50%;
  }

  .valMessage {
    width: 50%;
  }

  .contactSubmit {
    width: 35%;
  }

  .formResponse {
    width: 34%;
  }
}