@import 'partials/fonts';
@import 'partials/base';
@import 'partials/fontawesome-custom';
@import 'vendor/burger_menu/hamburgers';

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.wrapper {
  color: $codGray;
  font: 300 1.0625em $font;
}

.homeContent {
  @include pic($bg-img: url('../../img/background.jpg'), $bg-size: cover);
  height: 110vh;
  position: relative;
}

.homeText {
  color: $alabaster;
  padding: 50vh 10vw 0;
}

.homeTitle {
  font-size: 3.2em;
  font-weight: $light;
  margin: 0;

  @include tablet {
    font-size: 4em;
  };
}

.homeDesc {
  font-size: 1.2em;
  font-weight: $thin;
  margin: 0;

  @include tablet {
    font-size: $headlineDefault;
  }
}


.langDropdown {
  border: 1px solid $alabaster;
  border-radius: 3px;
  float: right;
  margin: 0.77em;
  text-align: center;

  label {
    margin: 0;
  }
}

.langDropdownList {
  cursor: pointer;
  list-style-type: none;
  @include dropdownDefault;
  padding: 0;

  a {
    color: $alabaster;
    text-decoration: none;
    list-style-type: none;
  }

  li {
    color: $alabaster;
    font-weight: $thin;
    line-height: 40px;
    padding: 0 0.88235em;
  }
}

.langDropdownBtn {
  float: left;
  opacity: 0;
  margin: -1em;

  &:checked ~ .langDropdownList {
    height: 122px;
  }

  &:not(:checked) ~ .langDropdownList {
    height: 40px;
  }
}

.navbar {
  background-color: $flagstone;
  border-bottom: 2px solid $alabaster;
  display: inline-block;
  font-size: 1em;
  width: 100%;

  .active, a:hover {
    background-color: $alabaster;
    border-radius: 2px;
    color: $wildDove;
  }

  ul {
    list-style-type: none;
  }
}

.sticky {
  animation: slideDown .5s;
  position: fixed;
  top: 0;
  z-index: 1;
}

// Buger Menu Navbar
.navList {
  display: none;

  li {
    letter-spacing: 2px;
    margin: 0 5em 0.4em 0;
    padding-bottom: 1em;
    text-transform: uppercase;

    &:last-child {
      padding-bottom: 0;
    }
  }

  a {
    color: $alabaster;
    padding: 1px 4px 2px 6px;
    text-decoration: none;
  }

  @include tablet {
    display: inline-block;
    transition: all .3s ease;

    li {
      display: initial;
      margin: 0 0.4em;

      &:first-child {
        margin: 0;
      }
    }
  }
}

.hamburger {
  &.is-active {
    float: right;

    & ~ .navList {
      display: inline-block;
    }
  }

  @include tablet {
    display: none;
  }
}

.title {
  color: $codGray;
  font-size: $headlineDefault;
  font-weight: $bold;
  margin: 0.83em 1em 1.66em;
  text-align: center;
  text-transform: uppercase;
}

.content {
  background-color: $transparent;
  box-shadow: inset 0 1px 0 0 $transparent, inset 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  min-height: 50vh;
  overflow: hidden;
  padding: 3em 0 5em;
}

.aboutMeWrapper {
  text-align: center;
  padding: 0 1.66em;

  @include tablet {
    padding-top: 3em;
  }

  @include desktop {
    display: inline-flex;
    align-items: center;
  }
}

.aboutMePicture {
  border: 2px solid $codGray;
  border-left-style: dashed;
  border-right-style: dashed;
  border-radius: 50%;
  margin: 2.25em;
  height: 150px;
  width: 150px;

  @include desktop {
    float: left;
    margin-left: 10em;
    height: 164px;
    width: 164px;
  }
}

.aboutMeInformation {
  text-align: justify;
  word-break: break-all;
  margin-top: 4em;

  @include tablet {
    word-break: initial;
  }

  @include desktop {
    margin: 0 10em 0 2em;
  }
}

.aboutMeParagraph {
  line-height: 2;
  margin: 0;
  padding: 0.77em 1.66em;
}

.employerWrapper {
  @include desktop {
    height: 0;

    .employerTitle {
      text-align: initial;
      padding-left: 5em;
    }
  }

  .employerContent {
    margin: auto;
    width: 300px;

    p {
      margin: 0 0 0.23em 8em;

      &:nth-child(2) {
        padding-top: 0.7em;
      }
    }

    a {
      color: initial;
    }

    @include desktop {
      margin: 3.6em 0 3.6em 5em;
      width: initial;
    }
  }
}

.JSPicture {
  @include pic($bg-img: url('../../img/js_logo_oS.svg'));
  background-position-y: 55%;
  border: 2px solid $codGray;
  border-left-style: dashed;
  border-right-style: dashed;
  border-radius: 50%;
  position: absolute;
  height: 100px;
  width: 100px;
}

.skillsWrapper {
  overflow: hidden;
  padding: 10em 0 0;
  text-align: center;

  ul {
    list-style-type: none;
  }

  @include desktop {
    padding-top: 0;
    padding-left: 60vw;
  }
}

.employerTitle, .skillsTitle {
  font-size: $subtitle;
  font-weight: $regular;
  text-align: center;
  text-transform: uppercase;
  margin: 0 2em 0.83em;

  & ~ .skillsTitle {
    margin-top: 6em;
  }
}

.skillsPicture {
  display: inline-block;
  margin: 0.6em 1em 3em;
  height: 85px;
  width: 105px;
}

.skillsLabel {
  font-size: 0.8em;
  font-weight: $regular;
  letter-spacing: 0.5px;
  margin-top: 7.5em;
  text-align: center;
}

@each $name in $skillsPictures {
  $i: index($skillsPictures, $name);
  .#{$name}Picture {
    @include pic(
      $bg-img: url('../../img/skills/#{$name}.svg'),
      $bg-size: nth($skillsBgSize, $i)
    );
    @if $name == 'Scrum' {
      width: 115px;
    }
  }
  @if $name == 'CSS' or $name == 'JavaScript' {
    .#{$name}DropdownBtn {
      @include dropdownBtn(#{$name}DropdownContent);
    }
    .#{$name}DropdownContent {
      background-color: $transparent;
      @include dropdownDefault;
    }
  }
}

.contactForm {
  text-align: center;
  margin: 0;
}

.contactInput {
  @extend %inputField;

  @include desktop {
    width: 50%;
  }
}

.valMessage {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: $trackAndField;
  font-family: inherit;
  margin-left: 1.5em;
  text-align: left;
  text-decoration: underline;
  width: 75%;

  @include desktop {
    width: 50%;
  }
}

.contactMessage {
  @extend %inputField;
  height: 370px;

  @include desktop {
    width: 50%;
  }
}

.contactSubmit {
  @extend %inputField;
  background-color: transparent;
  border: 1px solid $codGray;
  color: $codGray;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover:enabled {
    background-color: $flagstone;
    border-color: $flagstone;
    color: $alabaster;
    cursor: pointer;
  }

  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: 35%;
    margin-right: 15%;
    margin-left: 15%;
  }
}

.formResponse {
  border-radius: 5px;
  color: $codGray;
  font-weight: $bold;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  @include tablet {
    width: 49%;
  }

  @include desktop {
    width: 34%;
  }
}

footer {
  text-align: center;
  padding: 1em 0;
}

.copyright, .socialMedia, .imprint {
  padding: 0.32em 0;

  a {
    color: $codGray;
    text-decoration: none;
    padding: 0 0.77em;
  }

  @include tablet {
    display: inline-block;
    width: 25%;

    a {
      padding: 0 0.385em;
    }
  }
}
